*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    border: 2px solid #f1c40f; /* Border color */
    padding: 10px; /* Padding around the text */
    background-color: #e67e22; /* Background color */
    color: #ffffff; /* Text color */
    display: inline-block; /* Display as an inline block */
    border-radius: 5px; /* Border radius for rounded corners */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    
}

body{
    text-align: center;
    background-color:burlywood
}

.details-button {
    background-color: #3498db; /* Button color */
    color: #ffffff; /* Button text color */
    padding: 10px 20px; /* Padding around the button text */
    border-radius: 5px; /* Border radius for rounded corners */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to a pointer */
}

.details-button:hover {
    background-color: #2980b9;
}

.delete-button {
    background-color: #e74c3c; /* Button color */
    color: #ffffff; /* Button text color */
    padding: 10px 20px; /* Padding around the button text */
    border-radius: 5px; /* Border radius for rounded corners */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to a pointer */
}

.delete-button:hover {
    background-color: #c0392b;
}

h2 {
    border: 2px solid #000000; /* Border color */
    padding: 10px; /* Padding around the text */
    color: #000000; /* Text color */
    border-radius: 5px;
    background-color: white;
    font-size: 28px;
}

p {
    font-size: 20px;
}

